<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <!-- Features -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo3"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">

        <!-- واجهة تسجيل الدخول -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- واجهات مختلفة للتطبيق -->
        <activity
            android:name=".AbbottGuideWireActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".GuideWireDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- واجهة التطبيق الرئيسية -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- واجهة المنتجات -->
        <activity
            android:name=".ProductsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- واجهة منتجات التدخل التاجي -->
        <activity
            android:name=".CoronaryProductsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- واجهة اختيار الشركة -->
        <activity
            android:name=".CompanySelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- Biotronik -->
        <activity
            android:name=".BiotronikStentSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BitronikStentDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <activity
            android:name=".LepuManifoldSetActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".LepuManifoldSetDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <activity
            android:name=".ScwInflationDeviceActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".ScwInflationDeviceDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- Boston Scientific -->
        <activity
            android:name=".BostonStentSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonStentDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonDiagnosticCatheterSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonDiagnosticCatheterDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonGuideWireSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonGuideWireDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonGuideCatheterSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonGuideCatheterDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonInflationDeviceActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonInflationDeviceDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonIntroducerSetActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonIntroducerSetDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonWireJDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonYConnectorDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonYConnectorActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonManifoldSetDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BostonManifoldSetActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BalloonDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".BalloonSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />


        <!-- Medtronic -->
        <activity
            android:name=".MedtronicStentSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".MedtronicStentDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <!--  Abbott -->
        <activity
            android:name=".AbbottStentSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".AbbottStentDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".AbbottBalloonSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".AbbottBalloonDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- Terumo -->
        <activity
            android:name=".TerumoStentSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".TerumoStentDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".TerumoWireJActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".TerumoWireJDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".TerumoIntroducerSetActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".TerumoIntroducerSetDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".TerumoBalloonSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".TerumoBalloonDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- Lepu Medical -->
        <activity
            android:name=".LepuWireJActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".LepuWireJDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".LepuIntroducerSetActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".LepuIntroducerSetDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".LepuInflationDeviceActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".LepuInflationDeviceDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- Shunmei -->
        <activity
            android:name=".ShunmeiWireJActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".ShunmeiWireJDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".ShunmeiIntroducerSetActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".ShunmeiIntroducerSetDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".ShunmeiInflationDeviceActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".ShunmeiInflationDeviceDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".AbbottGuideCatheterDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".AbbottGuideCatheterActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <activity
            android:name=".ShunmeiGuideCatheterDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".ShunmeiGuideCatheterActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />


    </application>
</manifest>